extends ../layout

block content
  .row
    .col-md-6
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/') Home
          li.breadcrumb-item.active(aria-current='page') Detail

  h2 Detail

  div
    .row
      .col-md-6
        if _error
          .alert.alert-danger(role='alert') #{ _error }
        form(method='POST')
          .form-group
            label(for='name') Name
            input#name.form-control(name='name' type='text' aria-describedby='nameHelp', value=service.name, required)
            label(for='service') Service URL
            input#service.form-control(name='service' type='url' aria-describedby='serviceHelp', value=service.url, required)
            small#serviceHelp.form-text.text-muted Enter a service URL with /ping endpoint
          button.btn.btn-warning.btn-sm(type='submit') Update / Clear history

  br
  div
    p
      a.btn.btn-danger.btn-sm(href='/delete/' + index) Delete
      | &nbsp;
      a.btn.btn-success.btn-sm(href='/slack/' + index + '/install') Install Slack Notifier

  br
  div
    .row
      .col-md-6
        table.table.table-responsive-md
          tbody
            tr
              th(scope='row') Status
              if service.status == 'up'
                td.table-success Up
              else
                td.table-danger Down
            tr
              th(scope='row') Last check
              td #{ service.lastCheck }

  if service.history
    br
    br
    div
      h4 Down history (#{service.history.length})
      .row
        .col-md-6
          table.table.table-responsive-md
            thead
              tr
                th(scope='col') #
                th(scope='col') Reason
                th(scope='col') Started At
                th(scope='col') Ended At
            tbody
              each down, i in service.history
                tr
                  td #{ i + 1 }
                  td #{ down.reason }
                  td #{ down.downStartedAt }
                  td #{ down.downEndedAt }