extends ../layout

block content
  h2 pingpong
  p
    em A simple downtime logger

  br
  p
    a.btn.btn-success.btn-sm(type='button' href='/add') Add service

  br
  div
    .row
      .col-md-6
        table.table.table-responsive-md
          thead
            tr
              th(scope='col') Name
              th(scope='col') URL
              th(scope='col') Status
              th(scope='col') Last Check
          tbody
            each service, i in services
              tr
                td.text-nowrap
                  a(href=`/get/${i}`) #{ service.name }
                td.text-nowrap #{ service.url }
                if service.status == 'up'
                  td.text-nowrap.table-success Up
                else
                  td.text-nowrap.table-danger Down
                td.text-nowrap #{ service.lastCheck }

  div
    br
    br
    .row
      .col-md-6
        p.text-right.small
          code
            em PID: #{ usage.pid } | CPU: #{ (usage.cpu).toFixed(2) }% | Memory: #{ (usage.memory / 1e6).toFixed(3) } MB | Elapsed: #{ (usage.elapsed / 1000 / 60 / 60).toFixed(2) }h
        p.text-right.small
          a.github-button(href='https://github.com/mgilangjanuar/pingpong' data-show-count='true' aria-label='Star mgilangjanuar/pingpong on GitHub') Star

block scripts
  script(async='' defer='' src='https://buttons.github.io/buttons.js')
